<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Package browser v0.1</title>
    <script src="lib/vue.js"></script>
    <script src="lib/nanoajax.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--
      this is here because I wanted to add this single-cell hover
      but creating a .css file for a single directive seemed silly
    -->
    <style>
      .table>tbody>tr>td:hover{
        background-color: #f5f5f5!important;
      }
    </style>
  </head>
  <body>

    <!--
      apparently it's slightly bad form to bind Vue to an all-encompassing tag;
      I might need to study best practices a bit further :)
    -->
    <div id="app">
      <div class="col-md-12">
        <h1>Package browser v0.1</h1>
        <button type="button" class="btn btn-primary" @click="handleFile('test', 1)">
          Original test data
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label class="btn btn-primary">
          Upload your own file!
          <input type="file" style="display: none;" @change="upload" />
        </label>
      </div>

      <!-- LEFT COLUMN -->
      <div id="packages" class="col-md-6">
        <div v-if="packages != undefined">
          <h3>Packages</h3>
          <!--
            this list seems to have a tendency to be very, very long
            so some sort of starting letter filter might be worthwhile
            as a future consideration
          -->
          <table class="table table-bordered">
            <tbody>
              <template v-for="(sortedKey, index) in sortedKeys">
                <!-- h4x to create 4 column table -->
                <template v-if="index % 4 == 0">
                  <tr>
                    <template v-for="key in sortedKeys.slice(index, index + 4)">
                      <td role="button" @click="showDetails(key)">
                        <a>{{ key }}</a>
                      </td>
                    </template>
                  </tr>
                </template>
              </template>
            </tbody>
          </table>
        </div>
      </div>

      <!-- RIGHT COLUMN -->
      <!--
        muh first Vue component, explained:

        * info is the name given to it in the "components" part

        * :pkg="currentPackage" means that the property pkg
          is bound to currentPackage in the main Vue instance

        * inline-template means that the HTML template will be here
          instead of being written into the component definition

        * @details="showDetails" defers an event named "details"
          to the "showDetails" method in the main Vue instance
          -> the showDetails method inside this element differs from
             the one in the left column as it takes the event detour

        otherwise it's just straightforward HTML with Vue stuff thrown in

        ..in later incarnations, the file list might also be a component..
      -->
      <div id="details" class="col-md-6">
        <info :pkg="currentPackage" inline-template @details="showDetails">
          <div v-if="pkg != undefined">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>{{ pkg.name }}</h4>
              </div>
            <div class="panel-body">
              <h4>Description</h4>
              <pre>{{ pkg.description }}</pre>
              <div class="col-md-6">
                <div v-if="pkg.dependencies.length > 0">
                  <h4>Depends on</h4>
                  <ul>
                    <template v-for="dep in pkg.dependencies">
                      <li>
                        <template v-for="(alt, index) in dep">
                          <span v-if="index > 0"> | </span>
                          <a v-if="alt.installed" role="button" @click="showDetails(alt.name)">
                            {{ alt.name }}
                          </a>
                          <span v-else>
                            {{ alt.name }}
                          </span>
                        </template>
                      </li>
                    </template>
                  </ul>
                </div>
                <div v-else>
                  <h4>No dependencies</h4>
                </div>
              </div>
              <div class="col-md-6">
                <div v-if="pkg.reverseDependencies.length > 0">
                  <h4>Depended on by</h4>
                  <ul>
                    <template v-for="dep in pkg.reverseDependencies">
                      <li>
                        <a role="button" @click="showDetails(dep)">
                          {{ dep }}
                        </a>
                      </li>
                    </template>
                  </ul>
                </div>
                <div v-else>
                  <h4>No reverse dependencies</h4>
                </div>
              </div>
            </div>
          </div>
        </info>
      </div>
    </div>
    <!--
      this needs to be after the declaration of the elements bound to Vue
      otherwise the Vue initialization can't see the elements...
    -->
    <script src="app.js"></script>
  </body>
</html>
